.card {
	padding: var(--size-6);
}

.img {
	border-radius: var(--radius-4);
	padding: 10px;
}
.img_wrapper {
	position: relative;
	padding-inline: 10px;

	// max-width: 200px;
}

.heading {
	display: flex;

	padding-inline: 25px;
	//   width: 100%;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.icons {
	display: flex;
	align-self: flex-start;
}
.icon {
	height: 30px;
	width: 30px;
}
.label {
	font-size: 30px;
	font-weight: 600;
}
@media (max-width: 768px) {
	.img_wrapper {
		width: 100%;
	}

	.label {
		font-size: 24px; /* Adjust as needed */
	}

	/* You can add more styles as needed for smaller screens */
}
