.main {
	min-height: 100vh;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--stone-9);
}

@media (prefers-color-scheme: light) {
	.main {
		--stone-9: var(--gray-3);
	}
}
@media (prefers-color-scheme: dark) {
	.main {
		--stone-9: var(--stone-9);
	}
}
